.App {
  max-width: 900px;
  margin: 2.5rem auto;
}

button {
  background-color: none;
  padding: 0.6rem 0.8rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  font-weight: 400;
  font-size: 1em;
  cursor: pointer;
}
button:hover {
    background-color: #000;
    color: #fff;
    border-color: #d8d8cb;
}
.image-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 2.5rem;
  gap: 1.3rem ;

}